{% extends 'template.html.twig' %}

{% block title %}Sign in
{% endblock %}

{% block body %}
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="caption-2">
						<form class="form" method="post" action="{{ path('post-profile') }}">
							<h2>User Information</h2>
							<div class="line-dec-forms"></div>
							{% for flash_message in app.session.flashbag.get('success_email_changed') %}
								<div class="alert alert-success">
									{{ flash_message }}
								</div>
							{% endfor %}
							{% for flash_message in app.session.flashbag.get('error_email_change') %}
								<div class="alert alert-danger">
									{{ flash_message }}
								</div>
							{% endfor %}
							<div class="form-group row">
								<div class="col-md-6">
									<label for="email" class="badge">Email</label>
									<input class="form-control" type="text" name="email" placeholder="Email" value="{{app.user.email}}">
								</div>
								<div class="col-md-6">
									<label for="username" class="badge">Username (You can not change it)</label>
									<input class="form-control" type="text" name="username" value="{{app.user.username}}" disabled>
								</div>
							</div>

							<h4>Change Password</h4>
							<div class="line-dec-forms"></div>
							{% for flash_message in app.session.flashbag.get('success_password_change') %}
								<div class="alert alert-success">
									{{ flash_message }}
								</div>
							{% endfor %}
							{% for flash_message in app.session.flashbag.get('error_password_change') %}
								<div class="alert alert-danger">
									{{ flash_message }}
								</div>
							{% endfor %}
							<div class="form-group row">
								<div class="col-md-6">
									<label for="password" class="badge">New Password</label>
									<input class="form-control" type="password" name="newpassword" placeholder="New Password">
								</div>
								<div class="col-md-6">
									<label for="password" class="badge">Confirm New Password</label>
									<input class="form-control" type="password" name="confirmnewpassword" placeholder="Confirm new Password">
								</div>
								<div class="col-md-6">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>

							</div>


							<div class="form-group mt-2 text-center">
								<input class="btn btn-primary" type="submit" value="Update">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
